includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app/
        - config/
        - routes/
    excludePaths:
        - routes/console.php
    level: 2
